<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%p %d{HH:mm:ss.SSS} \(%c{0}\) %m%n</pattern>
    </encoder>
  </appender>

  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <!-- This appender is used to create a file that contains URIs of resources that were not exported
     either due to failure or early termination -->
  <appender name="REMAINING" class="ch.qos.logback.core.FileAppender">
    <!-- use the previously created timestamp to create a uniquely
      named log file -->
    <file>target/remaining_${bySecond}.log</file>
    <prudent>true</prudent>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.fcrepo.importexport" additivity="false" level="${fcrepo.importexport.log:-DEBUG}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.exporter" additivity="false" level="${fcrepo.exporter.log:-DEBUG}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo" additivity="false" level="${fcrepo.log:-INFO}">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.glassfish" additivity="false" level="ERROR">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fcrepo.importexport.remaining" additivity="false" level="INFO">
    <appender-ref ref="REMAINING"/>
  </logger>
  <root additivity="false" level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>